:root {
  --border-size: 0.125rem;
  --duration: 250ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --font-family: monospace;
  --color-primary: white;
  --color-secondary: black;
  --color-tertiary: black;
  --shadow: rgba(0, 0, 0, 0.1);
  --space: 1rem;
}

body {
  height: 100vh;
  margin: 0 auto;
  display: grid;
  place-items: center;
  padding: calc(var(--space) * 2);
  max-width: 700px;
  overflow: hidden;
}

#container {
    width: 100%;
    height: 50%
}

h1 {
    font-family: var(--font-family);
    font-size: 2rem;
    text-align: center;
    font-weight: normal;
}

#choices {
  display: flex;
  width: 100%;
  box-shadow: var(--shadow) 4px 4px;
}

#choices button {
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  padding: calc(var(--space) / 1.125) var(--space) var(--space);
  border: var(--border-size) solid black;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  font-size: 1.5rem;
  font-family: var(--font-family);
  text-transform: lowercase;
  text-shadow: var(--shadow) 2px 2px;
  transition: flex-grow var(--duration) var(--ease);
}

#choices button + button {
  border-left: var(--border-size) solid black;
  margin-left: calc(var(--border-size) * -1);
}

#choices button:hover,
#choices button:focus {
  flex-grow: 2;
  color: white;
  outline: none;
  text-shadow: none;
  background-color: var(--color-secondary);
}

#choices button:focus {
  outline: var(--border-size) dashed var(--color-primary);
  outline-offset: calc(var(--border-size) * -3);
}

#choices:hover button:focus:not(:hover) {
  flex-grow: 1;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  outline-color: var(--color-tertiary);
}

#choices button:active {
  transform: translateY(var(--border-size));
}

#results {
    text-align: center;
    font-family: var(--font-family);
    font-size: 1.5rem;
    height: 50%;
}

#points {
    list-style: none;
    padding: 0;
    text-align: center;
}

@media only screen and (max-width: 700px) {
  #container {
    height: 100%;
  }

  #title-choices {
    height: 30%;
  }

  #results {
    height: 70%;
  }

  h1 {
    font-size: 2.2rem;
  }

  #rock {
    font-size: 2.5rem;
  }

  #paper {
    font-size: 2.5rem;
  }

  #scissors {
    font-size: 2.5rem;
  }

  #results {
    font-size: 2rem;
  }
}
